// @import '../../../base/bootstrap-extended/include';
// @import '../../../base/components/include';

@import "../../../../@core/scss/base/bootstrap-extended/include";
@import "../../../../@core/scss/base/components/include";

// InValid Select
.react-select.is-invalid {
  .select__control {
    border-color: $danger;
  }
}

// Select Control(Input)
.po-details-select,
.react-select__control {
  padding: 0px;
  min-width: 126px;
  // height: 28px;
  &.po-select__control--is-disabled {
    border-color: $border-color;
    .select__indicator-separator {
      background-color: $border-color;
    }
  }

  &.po-select__control--is-focused,
  &.react-select__control--is-focused {
    box-shadow: none;
    border-color: $primary;
  }

  .po-select__indicator svg {
    cursor: pointer;
    color: $primary;
    padding: 0px;
  }

  .po-select__indicator-separator {
    display: none;
    padding: 0px;
  }
  .po-select__single-value {
    color: $body-color;
    font-size: 0.9rem;
    padding: 0px;
  }

  .po-select__placeholder {
    color: $body-color;
    font-size: 0.9rem;
    padding: 0px;
  }

  // Select Menu
  // .costing-select,
  .po-select__menu,
  .react-select__menu {
    z-index: 2;
    width: 150%;
    .po-select__menu-list,
    .react-select__menu-list {
      .po-select__option,
      .react-select__option {
        cursor: pointer;
        &.po-select__option--is-focused {
          background-color: rgba($color: $primary, $alpha: 0.12);
          color: $primary;
        }

        &.po-select__option--is-selected {
          background-color: $primary;
          color: $white;
        }
      }
    }

    .po-select__menu-list,
    .react-select__menu-list {
      .po-select__group {
        .po-select__group-heading {
          margin-bottom: 0.5rem;
          color: $headings-color;
          font-weight: bolder;
          font-size: inherit;
        }
      }
    }
  }
  // Multi Select
  .po-select__multi-value,
  .react-select__multi-value {
    color: $white;
    border-radius: 3px;
    margin: 0 0.7rem 0 0;

    .po-select__multi-value__label {
      color: $white;
      font-size: 0.85rem;
      border-radius: $border-radius;
      padding: 0.26rem 0.6rem;
    }

    .po-select__multi-value__remove {
      padding-left: 0;
      padding-right: 0.5rem;

      &:hover {
        background-color: inherit;
        color: inherit;
      }

      svg {
        height: 0.85rem;
        width: 0.85rem;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  // Select Borderless
  .po-select-borderless {
    .select__control {
      border: 0;
      .po-select__indicators {
        display: none;
      }
    }
  }

  // Dark Layout
  .dark-layout {
    .po-select__control {
      background-color: $theme-dark-input-bg;
      border-color: $theme-dark-border-color;

      .po-select__indicator svg {
        fill: $theme-dark-body-color;
      }

      .po-select__indicator span,
      .po-select__single-value {
        color: $theme-dark-body-color;
      }

      .po-select__multi-value {
        background-color: rgba($color: $primary, $alpha: 0.12);
        .select__multi-value__label {
          color: $primary;
        }
      }
      .po-select__multi-value__remove {
        svg {
          fill: $primary;
        }
        &:hover {
          background-color: transparent !important;
        }
      }

      .po-select__placeholder {
        color: $theme-dark-input-placeholder-color;
      }

      &.po-select__control--is-disabled {
        opacity: 0.5;
      }
    }
    .po-select__menu {
      background-color: $theme-dark-card-bg;
    }
  }
}

.po-set-switch {
  padding: 29px;
  .custom-control {
    z-index: 0;
  }
  .custom-control-label {
    font-weight: bolder;
  }
}
