@import "../../../../@core/scss/base/bootstrap-extended/include";
@import "../../../../@core/scss/base/components/include";

.packing-scc-table {
  width: 100%;
  .table-responsive {
    width: 100%;
    // overflow-y: initial;
  }

  th,
  td {
    // text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    min-width: 10px;
    margin-left: 0em;
    margin-right: 0em;
  }
}
