.mainTable {
    width: 100%;
  
  
      tr {
        width: 100%;
        th {
          padding: 0.2rem 0 !important;
          color: black !important;
          font-size: 14px;
          vertical-align: middle !important;
        }
      }
   
  

      tr {
        width: 100%;
        td {
          color: black !important;
        }
      }
    
  }
  