/*Loader Css*/
.preloader {
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
}
.lds-ellipsis {
  margin: 0 auto;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 664px;
  text-align: center;
}
.lds-ellipsis span {
  display: inline-block;
  margin-left: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #ff324d;
  -webkit-animation: ball-pulse-sync 1s 0s infinite ease-in-out;
  animation: ball-pulse-sync 1s 0s infinite ease-in-out;
}
.lds-ellipsis span:nth-child(1) {
  -webkit-animation: ball-pulse-sync 1s -0.14s infinite ease-in-out;
  animation: ball-pulse-sync 1s -0.14s infinite ease-in-out;
}
.lds-ellipsis span:nth-child(2) {
  -webkit-animation: ball-pulse-sync 1s -70ms infinite ease-in-out;
  animation: ball-pulse-sync 1s -70ms infinite ease-in-out;
}

@-webkit-keyframes ball-pulse-sync {
  33% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  66% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes ball-pulse-sync {
  33% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  66% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
