// purchase-order Components
// ========================================================================

@import "../../base/pages/merchandising-purchase-order.scss";

// purchase-order avatar shadow
.purchase-orders-avatar-shadow {
  box-shadow: 2px 4px 14px 0 rgba(34, 41, 47, 0.4);
}

// purchase-orders view info
.purchase-orders-page-view-table .purchase-order-info {
  div {
    padding: 0.5rem;
  }
  .purchase-order-info-title {
    min-width: 140px;
  }
}

.purchase-order-list-dataTable {
  header {
    padding-left: 1.5rem;
  }
}
.purchase-order-upload-main {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: rgb(161, 155, 155);
  border-style: dashed;
  background-color: #fafafa;
  color: #796f6f;
  outline: none;
  transition: border 0.24s ease-in-out;
  // width: 100%;
}
.purchase-order-upload-images-show {
  border-width: 2px;
  border-radius: 2px;
  border-color: rgb(161, 155, 155);
  border-style: dashed;
  width: 100%;
}
.purchase-order-upload-image {
  width: 180px;
  height: 180px;
  margin: 28px;
}
.upload-image-remove-btn {
  position: absolute;
  margin-left: -58px;
  margin-top: 30px;
  &:hover {
    background-color: rgb(230, 231, 229);
  }
}

@media (max-width: 482px) {
  .purchase-order-list-dataTable {
    header .actions-right {
      select {
        margin-top: 1rem;
      }
    }
  }
}
