.style-doc-upload-main {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 20px;
  padding: 20px;
  margin-top: 20px;
  height: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: rgb(201, 194, 194);
  border-style: dashed;
  outline: none;
  transition: border 0.24s ease-in-out;
  // width: 100%;
  // background-color: #e9e5e5;
  background-color: #e9e5e5;
  opacity: 0.7;
  background: repeating-linear-gradient(
    -45deg,
    #d4d4d4,
    #d4d4d4 8.5px,
    #e9e5e5 8.5px,
    #e9e5e5 42.5px
  );
}

.form-main {
  .form-scroll {
    position: relative;
    height: calc(100% - 80px);
    overflow-x: hidden;
  }
}

// .style-upload-images-show {
//   border-width: 2px;
//   border-radius: 2px;
//   border-color: rgb(161, 155, 155);
//   border-style: dashed;
//   width: 100%;
// }
// .style-upload-image {
//   width: 180px;
//   height: 180px;
//   margin: 28px;
// }
// .upload-image-remove-btn {
//   position: absolute;
//   margin-left: -58px;
//   margin-top: 30px;
//   &:hover {
//     background-color: rgb(230, 231, 229);
//   }
//}
