.swal2-popup {
  //   display: none;
  //   position: relative;
  //   box-sizing: border-box;
  //   flex-direction: column;
  //   justify-content: center;
  width: 30em;
  //   max-width: 100%;
  //   padding: 1.25em;
  //   border: none;
  //   border-radius: 5px;
  //   background: #ffffff;
  //   font-family: inherit;
  font-size: 0.8rem !important;
  .swal2-content {
    // background-color: red;
    color: #7a7b82;
    font-weight: 700;
  }
}
